"*":
  "exception-reporting":
    userId: "87517ec7-08bc-4ba9-bb05-cef6652759b2"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
  "vim-mode": {}
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
    softWrap: true
  react: {}
  docblockr: {}
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
  "autocomplete-plus": {}
  emmet: {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    incrementalSearch: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "project-manager":
    environmentSpecificProjects: true
    closeCurrent: true
