"*":
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    lower_case_primitives: true
  editor:
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "87517ec7-08bc-4ba9-bb05-cef6652759b2"
  "git-history":
    showDiff: false
  "highlight-selected": {}
  linter:
    lintOnFlyInterval: 500
    showErrorPanel: false
  "linter-jshint": {}
  "linter-phpcs":
    executablePath: "/usr/bin/phpcs"
  "project-manager":
    closeCurrent: true
    environmentSpecificProjects: true
  react: {}
  "source-preview":
    RefreshDebouncePeriod: 500
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    flashOnUndoRedo: true
    incrementalSearch: true
    showHoverSearchCounter: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
".html.php.text":
  editor:
    preferredLineLength: 120
".hyperlink.text":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 120
".json.source":
  editor:
    preferredLineLength: 120
".svg.text.xml":
  editor:
    preferredLineLength: 100
