# Keymap
#
# ******
# Focus to tree view
# ctrl-0
#
# ******
# Reveal the current open file in the tree view.
# cmd-shift-\

# Focus on tree
'.platform-win32, .platform-linux':
  'ctrl-0': 'tree-view:toggle-focus'

# vim mode
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # Go to left tab
  'ctrl-h': 'window:focus-pane-on-left'
  # Go to right tab
  'ctrl-l': 'window:focus-pane-on-right'

# Unset
'.platform-darwin atom-text-editor':
  'ctrl-shift-l': 'unset!'
'.platform-linux atom-text-editor':
  'ctrl-shift-l': 'unset!'

# Change tab (vim-mode way)
'body':
  # Next tab
  'ctrl-shift-l': 'pane:show-next-item'
  # Previous tab
  'ctrl-shift-h': 'pane:show-previous-item'
  # Save file
  'ctrl-s': 'core:save'

# Autocomplete
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'

